.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  margin: 0 auto;
}

/* Shared Design */
.btn-primary{
  padding: 12px 16px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.wave{
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-clip: text;       
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
/*
hr {
  height: 1px;
  background-color: #d3d3d3; /* ash color */


/* Header */
header{
  margin: 0 auto;
  padding: 16px 200px;
  background-color: #1A0B2E;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.take-wave{
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: bold;
}
.content{
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 30px;
}
.container li{
  list-style-type: none;
}
.container a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.25rem;
}
.btn{
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Hero */
.hero{
  background: url("./B13-A02-TechWave/assets/hero-bg.png");
  background-color: #230E3D;
  background-repeat: no-repeat;
  width: auto;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 101px 525px 101px 525px;
  gap: 40px;
}
.hero-circle{/*
  margin-top: 50px;*/
}
/*--------------------------------------*/
.podcast{
  padding: 50px 200px 120px 200px;
  background-color: #1A0B2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about{
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.technology{
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin-bottom: 80px;
}
.your{
  width: 670px;
}
.monthly-listener{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 80px;
}
.monthly-listener h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}
.monthly-listener p{
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
}
/*------------------------------------------*/
.choose{
  background-color: #230E3D;
  padding: 120px 200px;
}
/* Footer */
footer{
  background: url("./B13-A02-TechWave/assets/footer-bg.png");
  background-repeat: no-repeat;
  width: auto;
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 120px 120px;
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}
.card-info{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.card-info p{
  color: #FAFAFA;
}
.copy{
  color: #FAFAFA;
  margin-bottom: 50px;
}
.tw{
  font-size: 5rem
}
/* Media and Responsive */

/* Small device */
@media screen and (max-width: 576px){
  
}
/* Large device */
@media screen and (min-width: 993px) {
  
}