.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  margin: 0 auto;
}

/* Shared Design */
.btn-primary{
  padding: 12px 16px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.btn-primary:hover{
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 232, 63, 0.858),rgba(251, 9, 178, 0.854),rgba(145, 0, 248, 0.822)));
}
.wave{
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-clip: text;       
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

/* Header */
header{
  margin: 0 auto;
  padding: 16px 200px;
  background-color: #1A0B2E;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.take-wave{
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: bold;
}
.content{
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 30px;
}
.container li{
  list-style-type: none;
}
.container a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.25rem;
}
.btn{
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Hero */
.hero{
  background: url("./B13-A02-TechWave/assets/hero-bg.png");
  background-repeat: no-repeat;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  padding: 101px 300px 101px 300px;

}
.hero-circle{
  position: relative;
  top: 50px;
}
.green-button{
  font-size: 1.25rem;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  background-color: #00FF88;
  border-radius: 50px;
  
}
.active{
  position: relative;
  left: 100px;
  top: 68px;
}
.hero-microphone{
  position: relative;
  top: -210px;
}
.hero h1{
  font-size: 3.75rem;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
}
.growth{
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}
.two-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.second-image{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.special{
  padding: 12px 16px;
  background-color: transparent;
  color: #00FF88; 
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  border: 2px solid #00FF88;
  cursor: pointer;
  border-radius: 50px;
}
/*--------------------------------------*/
.podcast{
  padding: 50px 200px 120px 200px;
  background-color: #1a0b2efb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about{
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.technology{
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin-bottom: 80px;
}
.your{
  width: 670px;
}
.monthly-listener{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 80px;
}
.monthly-listener h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}
.monthly-listener p{
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
}
/*------------------------------------------*/
.choose{
  background-color: #230E3D;
  padding: 120px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.choose h2{
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
.grid{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 273px);
}
.crd{
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.194);
  background-color: #351165;
  border-radius: 40px;
}
.crd img{ 
  margin-bottom: 16px;
}
.crd h6{
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.crd p{
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 16px;
  line-break: 24px;
}
.big-layout{
  grid-column: span 1;
  grid-row: span 2;
  padding: 30px;  
}
.normal-layout{
  grid-column: span 2;
  grid-row: span 1;
  padding: 30px;
} 
.small-layout{
  grid-column: span 1;
  grid-row: span 1;
  padding: 30px;
}
/*-------------------------------*/
.features{
  padding: 120px 200px;
  background-color: #1A0B2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.episode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.episode h2{
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
}
.video-tha{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.box{
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.194);
  background-color: #230E3D;
  border-radius: 10px;
  height: 440px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.box h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}
.box .p1{
  font-size: 1rem;
  color: #FFFFFF;
}
.box .p2{
  color: #00FF88;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;
  font-weight: 600;
}
.meet{
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.alex{
  display: flex;
  flex-direction: row;
  gap: 24px;
  box-shadow: 0px 0px 8px 0px #351165;
  border-radius: 40px;
  padding: 40px;
}
.alex-host img{
  width: 450px;
  height: 170px;
}
.alex h2{
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF
}
.alex p{
  font-size: 1rem;
  color: #FFFFFF
}
.social-links{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 5px;
}
.social-links img{
  background-color: transparent;
  border: 1px solid #533C72;
  border-radius: 50%;
  padding: 10px;  
}
/* Footer */
footer{
  background: url("./B13-A02-TechWave/assets/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 120px 120px;
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}
.card-info{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.card-info p{
  color: #FAFAFA;
}
.copy{
  color: #FAFAFA;
  margin-bottom: 50px;
}
.tw{
  font-size: 5rem
}
/* Media and Responsive */

/* Small device */
@media screen and (max-width: 576px){
  
}
/* Large device */
@media screen and (min-width: 993px) {
  
}